.mat-form-field {
    margin-bottom: 16px;
}
  
.table th, .table td {
    vertical-align: middle;
}
  
table {
    width: 100%;
}

.mat-mdc-header-row  {
    filter: brightness(0.9);
    border-bottom: 1px solid var(--black);
    font-weight: bold;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid var(--black);
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    filter: brightness(0.9);
}
  
.active-row {
    font-weight: bold;
}

.inactive-row {
    font-weight: normal;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}  