.mat-form-field {
    margin-bottom: 16px;
}
  
.table th, .table td {
    vertical-align: middle;
}
  
table {
    width: 100%;
}
  
.mat-mdc-row .mat-mdc-cell {
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}
  
.active-row {
    font-weight: bold;
}

.inactive-row {
    font-weight: normal;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }  