$_palettes: (
  primary: (
    0: #000000,
    10: #351000,
    20: #561f00,
    25: #682700,
    30: #7a2f00,
    35: #8d3800,
    40: #a04100,
    50: #c35616,
    60: #e46f2f,
    70: #ff8c52,
    80: #ffb693,
    90: #ffdbcc,
    95: #ffede6,
    98: #fff8f6,
    99: #fffbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #2b0053,
    20: #470084,
    25: #56009d,
    30: #6500b8,
    35: #7411cd,
    40: #8129da,
    50: #9b4af4,
    60: #b26fff,
    70: #c695ff,
    80: #dab9ff,
    90: #efdbff,
    95: #f9edff,
    98: #fff7ff,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #1e1c00,
    20: #343200,
    25: #403d00,
    30: #4c4800,
    35: #585400,
    40: #656100,
    50: #7f7a00,
    60: #9a9413,
    70: #b6af31,
    80: #d2cb4b,
    90: #efe764,
    95: #fef570,
    98: #fffadd,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #241914,
    20: #3a2e28,
    25: #463933,
    30: #52443e,
    35: #5e4f49,
    40: #6b5b55,
    50: #84746d,
    60: #9f8d86,
    70: #baa7a0,
    80: #d7c2ba,
    90: #f4ded6,
    95: #ffede6,
    98: #fff8f6,
    99: #fffbff,
    100: #ffffff,
    4: #160c08,
    6: #1b110c,
    12: #281d18,
    17: #332722,
    22: #3f322c,
    24: #443631,
    87: #ebd6cd,
    92: #f9e4db,
    94: #ffeae1,
    96: #fff1eb,
  ),
  neutral-variant: (
    0: #000000,
    10: #281810,
    20: #3f2c24,
    25: #4b372e,
    30: #574239,
    35: #644e44,
    40: #70594f,
    50: #8b7267,
    60: #a68b80,
    70: #c1a599,
    80: #dec0b4,
    90: #fbdccf,
    95: #ffede6,
    98: #fff8f6,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);