:root {
  --primary800: rgba(215, 101, 37, 1);
  --primary600: rgba(215, 101, 37, 0.7);
  --primary400: rgba(215, 101, 37, 0.45);
  --primary200: rgba(215, 101, 37, 0.1);

  --secondary800: rgba(126, 37, 215, 1);
  --secondary600: rgba(126, 37, 215, 0.7);
  --secondary400: rgba(126, 37, 215, 0.45);
  --secondary200: rgba(126, 37, 215, 0.1);

  --shade1000: #48453D;
  --shade800: #6A675D;
  --shade600: #8F897A;
  --shade400: #CEC8B9;
  --shade200: #EDE9DD;

  --black: #252219;
  --white: #F6F4EF;
}
